.Welcome_description {
  grid-area: sectionDescr;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 46px;
  text-align: left;
}

@media (max-width: 768px) {
  .Welcome_description {
    font-size: 16px;
    line-height: 24px;
  }
}