.Welcome_subtitle {
  grid-area: subtitle;
  color: #3a3a5e;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  margin-bottom: 27px;
}

@media (max-width: 1440px) {
  .Welcome_subtitle {
    font-size: 18px;
    line-height: 28px;
  }
}